<nav>
    <header class="top-nav row align-items-start">
        <div class="col text-left">
            <span><%= link_to "Home", root_path, class: 'link-to-text-color' %></span>
            <%if user_signed_in?%>
            <span><%= link_to "Sell", new_sneaker_path, class: 'link-to-text-color' %></span>
            <%end%>
            <span><%= link_to "New Releases", sneakers_path, class: 'link-to-text-color' %></span>
        </div>

        <div class="col text-center">
            <%=link_to (image_tag "Logo.jpg", class:"logo"),root_path %></p>
        </div>
    
        <div>
            <%= form_tag(sneakers_path, method: :get) do%>
            <%= text_field_tag(:search, params[:search])%>
            <%= submit_tag("Search")%>
            <%end%>
        </div>
        
        <div class="dropdown">
            <% if user_signed_in?%>
                <% if current_user.admin%>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin</a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><%= link_to "Manage", administration_path%></a></li>
                        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                    </ul>
                
                <%else%>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Account</a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><%= link_to "Profile", user_path(current_user.id)%></a></li>
                        <li><a href="#"><%= link_to "My Wishlist", wishlists_path%></a></li>
                        <li><a href="#"><%= link_to "My Inbox", conversations_path %></a></li>
                        <li><a href="#"><%= link_to "My Listings", listings_path(current_user.id) %></a></li>
                        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                    </ul>
                <%end%>
            <%else %>
                <%= link_to "Login/Signup", new_user_session_path %>
            <% end %>
        </div>
    </header>
</nav>

