<div class="background">
    
       <%= image_tag (@sneaker.picture if @sneaker.picture.attached?), class:"image"%>
    <div class="content">
    <h1><%= "#{@sneaker.brand}"%></h1>
    <h4><%= "#{@sneaker.model}"%></h4>
    <h6><%= "#{@user.location}"%></h6>
        <p><%= "#{number_to_currency @sneaker.price}"%></p>
        <p><%= "Ad posted: #{@sneaker.updated_at}"%><p>
    <%if user_signed_in?%>   
        <%if current_user.admin?%> 
            <p><%= "Seller: #{@user.first_name} #{@user.last_name}"%></p>
        <%else !current_user.admin%>
            <p><%= "Seller: #{@user.first_name} #{@user.last_name}"%></p>
            <p><%=link_to "Add to wishlist", add_to_wishlist_path(:id => @sneaker.id), method: :post %></p>
            <p><%= link_to "Message seller for enquiries", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: "post"%></p>
        <%end%>

    <%end%>
</div>




