
<% if user_signed_in? %>
    <%= form_with model:@user, url:update_profile_path, method: :patch do|f| %>
        <div class="field">
            <%= f.label :first_name %><br />
            <%= f.text_field :first_name, value: current_user.first_name, autofocus: true, autocomplete: "" %>
        </div>

        <div class="field">
            <%= f.label :last_name %><br />
            <%= f.text_field :last_name, value: current_user.last_name, autofocus: true, autocomplete: "" %>
        </div>

        <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, value: current_user.email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
            <%= f.label :location %><br />
            <%= f.text_field :location, value: current_user.location, autofocus: true, autocomplete: "location" %>
        </div>

        <div>
            <%= f.submit "Edit"%>
           
        </div>
    <%end%>
<%end%>

