<div class="container">
    <div >
        <h2><%="#{@user.first_name}'s Profile"%></h2>
        <div>
        <%= image_tag "jordans.jpg", id:"image-2"%>
        </div>
    
    <div class="box-3">

    <p><%= "Name: #{@user.first_name} #{@user.last_name}"%></p>
    <p><%= "Email: #{@user.email}"%></p>
    <p><%= "Location: #{@user.location}"%></p>
    <p><%= "Contact: #{@user.contact}"%><p>
    <p><%= link_to "Edit profile", edit_profile_path, class:"link-to-text-color-2"%><p>
    </div>

<div>
