    <h2><%="#{@user.first_name}'s Profile"%></h2>
    <%= link_to "Edit profile", edit_profile_path%>
    

    <p><%= link_to "My Listings", listings_path %></p>
    <p><%= link_to "My Wishlist", wishlists_path%></p>

    <p><%= "Name: #{@user.first_name} #{@user.last_name}"%></p>
    <p><%= "Email: #{@user.email}"%></p>
    <p><%= "Location: #{@user.location}"%></p>

