    <h2><%="#{@user.first_name}'s Profile"%></h2>
    <p><%= link_to "Edit profile", edit_profile_path%><p>


    <p><%= "Name: #{@user.first_name} #{@user.last_name}"%></p>
    <p><%= "Email: #{@user.email}"%></p>
    <p><%= "Location: #{@user.location}"%></p>

