<h2>Wishlist</h2>

<% @wishlist_items.each do |item|%>
<% sneaker = Sneaker.find(item.sneaker_id)%>
  <%= image_tag sneaker.picture if sneaker.picture.attached? %>

    <p> <%="#{sneaker.model}"%> </p>
    <p> <%="#{sneaker.price}"%> </p>
    <p> <%="#{sneaker.size}"%> </p>
    <p><%= link_to "Remove", remove_from_wishlist_path(:id => sneaker.id), method: "delete"%></p>

<%end%>

