<!DOCTYPE html>
<html>
  <head>
    <title>Marketplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class="container">
      <%if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <%if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>  
      
      <%= render "/devise/shared/topnav" %>
      <%= yield %>
    </div>
  </body>
</html>
